@model RolesViewModel
@{
    ViewData["Title"] = "Roles";
}
<div class="content-wrapper">
    <!--content-header-->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ResourceWeb.lbRoleUser</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Hom/Index">@ResourceWeb.lbHomePage</a></li>
                        <li class="breadcrumb-item active">@ResourceWeb.lbManageCours</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--End content-header-->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@ResourceWeb.lbRoleUser</h3>
                        <div class="card-tools">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-info rounded-pill" data-bs-toggle="modal" style="margin-right:50px;" data-bs-target="#exampleModal" onclick="Rest()">
                                @ResourceWeb.lbbtnSeveNewRole
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tableRole" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td>@ResourceWeb.lbNameRole</td>
                                    <td>@ResourceWeb.lbEvents</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Roles)
                                {
                                    <tr>
                                        <td>
                                            @switch (@item.Name)
                                            {
                                                case "SuperAdmin":
                                                    <span class="badge badge-danger" style="width:250px; height:25px;">@item.Name</span>
                                                    break;
                                                case "Admin":
                                                    <span class="badge badge-success" style="width:250px; height:25px;">@item.Name</span>
                                                    break;
                                                default:
                                                    <span class="badge badge-warning" style="width:250px; height:25px;">@item.Name</span>
                                                    break;
                                            }
                                        </td>
                                        <td>
                                            <input type="button" onclick="Edit('@item.Id','@item.Name')" class="btn btn-info btn-sm" value="@ResourceWeb.lbbtnEdit" data-bs-toggle="modal" style="margin-right:50px;" data-bs-target="#exampleModal" />
                                            <input type="button" onclick="Delete('@item.Id')" class="btn btn-danger btn-sm" value="@ResourceWeb.lbbtnDelete" />
                                            <a class="btn btn-success btn-sm" asp-action="Index" asp-controller="Permissions" asp-route-RoleId="@item.Id">@ResourceWeb.lbbtnPermissions</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title">@ResourceWeb.lbbtnSeveNewRole</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="Roles" asp-controller="Accounts" method="post">
                        <input type="text" hidden class="form-control" asp-for="NewRole.RoleId" id="roleId" />
                        <div class="form-group">
                            <label asp-for="NewRole.RoleName" class="control-lable">@ResourceWeb.lbNameRole</label>
                            <input type="text" class="form-control" asp-for="NewRole.RoleName" id="roleName" />
                            <span asp-validation-for="NewRole.RoleName" class="text-danger"></span>
                        </div>

                        <div class="modal-footer" style="padding: 0 15px 15px 0">
                            <input type="submit" class="btn btn-success" value="@ResourceWeb.lbbtnSave" id="btnSave" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

@section Scripts{
    @if (!string.IsNullOrEmpty(Context.Session.GetString(Helper.MsgType)))
    {
        if (Context.Session.GetString(Helper.MsgType) == Helper.Success)
        {
            <script>
                Swal.fire({
                    title: '@Context.Session.GetString(Helper.Title)',
                    Text: '@Html.Raw(Context.Session.GetString(Helper.Msg))',
                    ConfirmButtonText: '@ResourceWeb.lbOK',
                    icon: 'success',
                });
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    title: '@Context.Session.GetString(Helper.Title)',
                    text: '@Html.Raw(Context.Session.GetString(Helper.Msg))',
                    ConfirmButtonText: '@ResourceWeb.lbOK',
                    icon: 'error',
                });
            </script>
        }
        Context.Session.SetString(Helper.MsgType, "");
    }

    <script src="~/Modules/Roles.js"></script>

}


